.Layout{
    margin: 2em;
    border: solid 1px grey;
    background: white;
    height: 38em;
    display: block;
    border-radius: 5px;
    -webkit-box-shadow: -1px 2px 18px 1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -1px 2px 18px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 18px 1px rgba(0,0,0,0.75);
    
}

.FolderSection{
    margin:0px;
    float: right;
    height: 73%;
    width: 85%;
    background-color: white;
    margin-top:1.5em;
}

.BackRow{
    padding-top:5px;
    padding-left: 5px;
    width: 85%;
    height: 7%;
}

.ContextMenu{
    background-color: black;
    color: #FFD07E;
    width: 5em;
    height: 4em;
    cursor: pointer;
    padding-left:7px;
    padding-top:4px;
    font-size: 15px;
    border-radius:4px;
}
.react-contextmenu-item--divider{
    background: grey;
    height: 1px;
    padding: 0px;
}

.MenuItem{
    margin-left:1em;
}