.FileLayout{
    width: 4em;
    height: 4em;
    /* margin:10px; */
    padding-left:10px;
    text-align: center;
}
.File{
    padding-top:6px;
    font-size:3em;
    color:rgb(110, 174, 247);
}

.FileName{
    margin:0 auto;
    padding-left:10px;
    font-size: 12px;
}